
.marginUserInfo{
  margin-left: 20px;
}

.form-group .icons{
	top: -5px;
}

#iconPageProfile{
	position: relative;
	left: 400px; /*ARTI: correct width from 400px to 0*/
	width: 100%;
}

.width{
	width: 100%;
}

a{
	padding: 8px;
	color: white;
	margin-right: 2%;
	margin-bottom: 3%

}


#iconProfiladmin{
margin: 2%;
}